<a href="https://colab.research.google.com/github/lokinegalur/ML/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Library
# Useful for data processing and Analysis
# Pandas Dataframe
# Dataframe is a 2-Dimensional tabular structure with labeled axes(rows and colums)

In [ ]:
#importing the pandas library
import pandas as pd

In [ ]:
#importing boston house price data
from sklearn.datasets import load_boston
boston_dataset=load_boston()
print(type(boston_dataset))

<class 'sklearn.utils.Bunch'>

In [ ]:
#creating Dataframe
boston_df=pd.DataFrame(boston_dataset.data,columns=boston_dataset.feature_names)
print(boston_df.head())
#shape of the dataframe
print(boston_df.shape)

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]
(506, 13)

# Importing dataset from CSV file

In [ ]:
diabetis_df=pd.read_csv('/content/diabetes.csv')
print(type(diabetis_df))
print(diabetis_df.head())
print(diabetis_df.shape)

<class 'pandas.core.frame.DataFrame'>
   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]
(768, 9)

**Loading excel file to pandas dataframe**

In [ ]:
df=pd.read_excel(path)

**Exporing dataframe to csv**

In [ ]:
boston_df.to_csv('boston.csv')

**Exporting dataframe to excel**

In [ ]:
boston_df.to_excel('boston.xlsx')

# Creating dataframe with random values

In [ ]:
#creating dataframe from numpy arrays
import numpy as np
arr=np.random.randint(1,3,(5000,6))
random_df=pd.DataFrame(arr)
print(random_df.head())

   0  1  2  3  4  5
0  2  1  1  2  1  2
1  1  1  1  2  1  2
2  1  2  1  1  2  2
3  1  2  1  2  2  2
4  1  2  1  2  2  2

# Inspecting a dataframe

In [ ]:
df=diabetis_df
print(df.shape)
print(df.head())
print(df.tail())
print(df.info())
print(df.isnull().sum())

(768, 9)
   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]
     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
print(diabetis_df.head())

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetis_df.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

In [ ]:
diabetis_df.value_counts('Glucose')

Glucose
100    17
99     17
129    14
125    14
111    14
       ..
177     1
172     1
169     1
160     1
199     1
Length: 136, dtype: int64

In [ ]:
diabetis_df.value_counts("Age")

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
32    16
36    16
38    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
50     8
44     8
51     8
52     8
58     7
47     6
54     6
57     5
60     5
48     5
49     5
53     5
55     4
62     4
63     4
66     4
56     3
59     3
65     3
67     3
61     2
69     2
72     1
64     1
68     1
70     1
81     1
dtype: int64

In [ ]:
#group the data based on mean of a field
print(diabetis_df.groupby('Outcome').mean())
print(diabetis_df.groupby('Age').mean())

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]
     Pregnancies     Glucose  ...  DiabetesPedigreeFunction   Outcome
Age                           ...
21      1.079365  108.317460  ...                  0.433825  0.079365
22      1.555556  108.208333  ...                  0.430625  0.152778
23      1.578947  111.578947  ...                  0.438579  0.184211
24      1.891304  117.891304  ...                  0.393565  0.173913
25      1.770833  110.083333  ...                  0.600500  0.291667
26      1.969697  118.212121  ...                  0.413455  0.242424
27      2.562500  115.281250  ...                  0.471750  0.250000
28      3.028571  119.914286  ...                  0.459629  0.285714
29      3.310345  127.379310  ...                  0.408897  0.448276
30      3.619048  122.285714  ...                  0.367238  0.285714
31      3.875000  126.958333  ...                  0.589583  0.541667
32      4.437500  116.312500  ...                  0.613250  0.562500
33      4.058824  122.882353  ...                  0.734176  0.588235
34      5.857143  131.857143  ...                  0.649857  0.285714
35      5.000000  121.400000  ...                  0.454000  0.500000
36      5.187500  132.437500  ...                  0.472875  0.625000
37      5.263158  130.157895  ...                  0.414632  0.315789
38      6.875000  121.125000  ...                  0.413937  0.625000
39      7.416667  126.750000  ...                  0.605917  0.250000
40      6.230769  130.923077  ...                  0.376077  0.461538
41      6.500000  129.090909  ...                  0.396273  0.590909
42      6.888889  109.555556  ...                  0.388000  0.388889
43      7.769231  133.000000  ...                  0.450846  0.846154
44      7.250000  124.375000  ...                  0.668375  0.625000
45      7.333333  131.200000  ...                  0.496467  0.533333
46      6.384615  105.923077  ...                  0.426846  0.538462
47      8.333333  137.000000  ...                  0.355333  0.666667
48      8.800000  107.600000  ...                  0.456800  0.200000
49      7.600000  153.000000  ...                  0.612000  0.600000
50      6.750000  138.250000  ...                  0.470125  0.625000
51      8.625000  147.625000  ...                  0.615250  0.625000
52      4.625000  133.000000  ...                  0.505375  0.875000
53      5.400000  158.000000  ...                  0.550600  0.800000
54      7.000000  140.333333  ...                  0.465500  0.666667
55      5.500000  140.750000  ...                  0.226500  0.250000
56      8.000000   98.333333  ...                  0.936667  0.666667
57      8.800000  137.800000  ...                  0.704000  0.200000
58      7.142857  135.142857  ...                  0.554714  0.428571
59      2.333333  173.333333  ...                  0.252667  0.666667
60      6.000000  146.400000  ...                  0.436800  0.400000
61      5.500000  144.000000  ...                  0.613000  0.500000
62      3.750000  139.500000  ...                  0.565500  0.500000
63      5.500000  133.250000  ...                  0.249250  0.000000
64      8.000000  120.000000  ...                  0.409000  0.000000
65      3.333333  137.000000  ...                  0.259000  0.000000
66      5.000000  157.000000  ...                  0.408500  0.500000
67      4.000000  132.333333  ...                  0.602000  0.333333
68      8.000000   91.000000  ...                  0.587000  0.000000
69      5.000000  134.000000  ...                  0.413000  0.000000
70      4.000000  145.000000  ...                  0.235000  1.000000
72      2.000000  119.000000  ...                  0.832000  0.000000
81      9.000000  134.000000  ...                  0.460000  0.000000

[52 rows x 8 columns]

# Statistical measures

In [ ]:
diabetis_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [ ]:
diabetis_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
#standard deviation
diabetis_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
#min and max in each column
diabetis_df.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [ ]:
diabetis_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [ ]:
#all statistical measures in one function call
diabetis_df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
#locating rows and cols
print(diabetis_df.head())
print(diabetis_df.iloc[0])

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]
Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [ ]:
#printing colums of dataframe
print(diabetis_df.iloc[:,0])
print(diabetis_df.iloc[:,1])

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64
0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [ ]:
#slicing a dataframe
print(diabetis_df.iloc[:,:3])
print(diabetis_df.iloc[:,3:])

     Pregnancies  Glucose  BloodPressure
0              6      148             72
1              1       85             66
2              8      183             64
3              1       89             66
4              0      137             40
..           ...      ...            ...
763           10      101             76
764            2      122             70
765            5      121             72
766            1      126             60
767            1       93             70

[768 rows x 3 columns]
     SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0               35        0  33.6                     0.627   50        1
1               29        0  26.6                     0.351   31        0
2                0        0  23.3                     0.672   32        1
3               23       94  28.1                     0.167   21        0
4               35      168  43.1                     2.288   33        1
..             ...      ...   ...                       ...  ...      ...
763             48      180  32.9                     0.171   63        0
764             27        0  36.8                     0.340   27        0
765             23      112  26.2                     0.245   30        0
766              0        0  30.1                     0.349   47        1
767             31        0  30.4                     0.315   23        0

[768 rows x 6 columns]

In [ ]:
#printing column using column name
print(diabetis_df['Age'])
print(diabetis_df['Glucose'])

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64
0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

# Co-relation
# 1.Positive Co-relation
# 2.negative Co-relation

In [ ]:
diabetis_df.corr()

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]